{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-contact-form-required-fields plugin for Craft CMS 3.x
 *
 * craft-contact-form-required-fields Settings.twig
 *
 * @author    Dhens Betonio
 * @copyright Copyright (c) 2021 Dhens Betonio
 * @link      https://bitbucket.org/rudenyl/
 * @package   Craftcontactformrequiredfields
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
